<!DOCTYPE html>
@using System.Web.Optimization;
<html>
<title>登陆</title>
<meta name="viewport" content="width=device-width" />
@Styles.Render("~/Css")
@Scripts.Render("~/Scripts")
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
